<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pictonary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <p>Select your word difficulty: </p>
    <div class="dropdown">
        <form method="POST">
            <select name="difficulty" method="GET" action="/" class="dropbtn">
                {% for d in diff %}
                <option class="dropdown-content" value= "{{d}}">{{d}}</option>
                {% endfor %}
            </select>    
            <input type="submit" value="Submit" class="button">
        </form>
    </div>
    <br><br><br>
    <h2>Difficulty: {{selected}}</h2>
    <h1>Word: {{word}}</h1>
</body>
</html>